$color-white: #ffffff;
$color-black: #000000;

$color-green: #4caf50;
$color-red: #dc211f;
$color-peach: #ff9800;
$color-pink: #efb1b0;
$color-aquamarine: #00b0f0;
$color-dark-aquamarine: #0282af;

$color-text-dark: #303030;
$color-text-medium: #404040;
$color-text-light: #606060;

$color-background: #b1b1b1;
$color-background-light: #e8e8e8;

$color-border: #d9d9d9;
$color-box-shadow: rgba(0, 0, 0, 0.05);
