@import 'colors';
@import 'fonts';

html {
  font-size: 16px;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: $font-sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
p,
figure {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

*::selection {
  color: $color-white;
  background: $color-pink;
}

input::placeholder { color: $color-text-light; opacity: 1; }
input::-webkit-input-placeholder { color: $color-text-light; }
input::-moz-placeholder { color: $color-text-light; } /* Firefox 19+ */
input:-moz-placeholder { color: $color-text-light; } /* Firefox 18- */
input:-ms-input-placeholder { color: $color-text-light; }
